In [1]:
import pandas as pd, pdb,os

 Our input file is in **html** format

In [3]:
df=pd.read_html(r"C:/Users/Bhuvaneswaran/Desktop/Medium/EDA/DateWise_09Jul2025_1707.xls")

In [4]:
print(df)

[    Instrument Type         Date  Traded Contract(Lots)  Total Value (Lacs)  \
0            OPTFUT  01 Jan 2025                 329799          1886393.95
1            FUTCOM  01 Jan 2025                  76941           290703.44
2            FUTIDX  01 Jan 2025                      9               83.64
3            FUTIDX  02 Jan 2025                     47              440.82
4            OPTFUT  02 Jan 2025                2724381         16343576.31
..              ...          ...                    ...                 ...
400          OPTFUT  07 Jul 2025                3373566         19587718.89
401          FUTCOM  07 Jul 2025                 663300          2878405.29
402          OPTFUT  08 Jul 2025                3275049         19918411.74
403          FUTCOM  08 Jul 2025                 665543          3309616.77
404          FUTIDX  08 Jul 2025                     54              365.60

    Premium Value (Lacs)
0               36352.13
1                      -
2                      -
3                      -
4              349476.80
..                   ...
400            367470.82
401                    -
402            352173.52
403                    -
404                    -

[405 rows x 5 columns]]

In [5]:
entire_csv=[]
input_path="C:/Users/Bhuvaneswaran/Desktop/Medium/EDA/"
for dataset in os.listdir(input_path):
    if dataset.endswith(".xls"):
        df = pd.read_html(os.path.join(input_path, dataset))
        # print(df)
        entire_csv.extend(df)
final_df=pd.concat(entire_csv,ignore_index=True)
final_df

,Instrument Type,Date,Traded Contract(Lots),Total Value (Lacs),Premium Value (Lacs)
0,FUTCOM,01 Jan 2024,55674,193162.71,-
1,FUTIDX,01 Jan 2024,21,172.25,-
2,OPTFUT,01 Jan 2024,150532,840919.24,-
3,FUTIDX,02 Jan 2024,308,2533.69,-
4,FUTCOM,02 Jan 2024,595985,2020450.36,-
...,...,...,...,...,...
6864,OPTFUT,07 Jul 2025,3373566,19587718.89,367470.82
6865,FUTCOM,07 Jul 2025,663300,2878405.29,-
6866,OPTFUT,08 Jul 2025,3275049,19918411.74,352173.52
6867,FUTCOM,08 Jul 2025,665543,3309616.77,-
6868,FUTIDX,08 Jul 2025,54,365.60,-

In [11]:
final_df.to_csv('MCX_TRADE.csv',index=False)